pandas 
notebook
numpy
scikit-learn
matplotlib
python-box==6.0.2
pyYAML
ensure==1.0.2
joblib
types-PyYAML
Flask
Flask-Cors
flask-sse
mlflow
sentence-transformers
spacy>=3.0,<4.0
pt-core-news-sm==3.1.0
xgboost
-e .
